body {
    display: flex;
    flex-direction: column;
    align-items: center;
    /* border-style: solid;
    border-color: blueviolet;
    border-width: 2px; */
}

.article-photo {
    width: 200px;
}