body {
    background-color: #5B0500;
    border-color: #FBBA2D;
    border-style: ridge;
    border-width: 5px;
}

.gossip-pic {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 35%;
    margin: auto;
}

.pho33-pic {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 35%;
    margin: auto;
}

.asia-palace {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 35%;
    margin: auto;
}

.pleiku-pic {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 35%;
    margin: auto;
}

.pho777-pic {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 35%;
    margin: auto;
}

.gt-title {
    font-size: xx-large;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: #FBBA2D;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 75%;
    margin: auto;
}

.ph-77 {
    font-size: xx-large;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: #FBBA2D;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 75%;
    margin: auto;
}

.ph-33 {
    font-size: xx-large;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: #FBBA2D;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 75%;
    margin: auto;
}

.asia-titlep {
    font-size: xx-large;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: #FBBA2D;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 75%;
    margin: auto;
}

.pleiku-title {
    font-size: xx-large;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: #FBBA2D;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 75%;
    margin: auto;
}

.pa-1 {
    font-size: large;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: #d16c29;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 75%;
    margin: auto;
}

.pa-2 {
    font-size: large;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: #d16c29;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 75%;
    margin: auto;
}

.pa-3 {
    font-size: large;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: #d16c29;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 75%;
    margin: auto;
}

.pa-4 {
    font-size: large;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: #d16c29;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 75%;
    margin: auto;
}

.pa-5 {
    font-size: large;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: #d16c29;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 75%;
    margin: auto;
}